.section-career__experience-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    .itemXP {
        width: 300px;        
        p {
            font-size: 20px;
        }
    } 
} 
.section-career__experience-container.beforeLine{
    padding-top: 160px;
} 
.section-career__experience-container.afterLine{
    padding-top: 60px;
}
.line {
    width: 10px;
    height: 500px;    
    background-color: white;
    border-radius: 5px;
}