.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  .contact-button {
    width: 30%;
    height: 100px;
    text-align: center;
  }
}
.modal-content {
    width: 60%;
    height: 60vh;
    background: $dark-blue-color;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.25rem;
    position: relative;
    top: 5vh;
    .top-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 50%;
      margin-left: 50%;
      padding-top: 1.25rem;
      .close-button {
        background-color: $dark-blue-color;
        border: none;
        margin: 0;
      }
      .prev-button {
        transform: rotate(180deg);
        margin: 0;
      }
    }
  img {
    height: 300px;
    object-fit: contain;
    object-position: top left;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 1rem 0;
  }
  .prev-button, .next-button {
    width: 25px;
    height: 25px;
  }
  p, a {
    font-size: 1rem;
    font-weight: 100;
    width: 100%;
    height: 25%;
  }
  p {
    margin-bottom: 1rem;
  }
  .next-button {
    margin-bottom: 1.25rem;
  }
}
@include mobile-and-tablet {
  .modal-content {
    padding: 10px;  
    .top-buttons {
      padding-top: 0;
    }   
    .prev-button, .next-button {
      width: 1rem;
      height: 1rem;
    } 
    p, a {
      font-size: 1rem;
    }
  }  
}
@include mobile {
  .modal-content {
    max-height: 50%;    
    .prev-button, .next-button {
      width: 0.8rem;
      height: 0.8rem;
    } 
    p {
      font-size: 0.6rem;
    }
    a {
      font-size: 0.5rem;
    }
    img {
      height: 50%;
      object-position: top left;
    }
    .next-button {
      margin: 0;
    }
  }  
}