.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
    position: relative;
    top: 30%;
    width: 50%;
    height: 50%;
    background: $sand-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 20px;
    .top-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 50%;
      margin-left: 50%;
      .close-button {
        background-color: $sand-color;
        border: none;
        margin: 0;
      }
      .prev-button {
        transform: rotate(180deg);
        margin: 0;
      }
    }
  img {
    width: 90%;
    height: 60%;
    object-fit: cover;
    object-position: top;
  }
  .prev-button, .next-button {
    width: 25px;
    height: 25px;
  }
  p {
    font-size: 1.25rem;
    width: 90%;
    height: 25%;
  }
}
@include mobile-and-tablet {
  .modal-content {
    padding: 10px;     
    .prev-button, .next-button {
      width: 1rem;
      height: 1rem;
    } 
    p {
      font-size: 1rem;
    }
  }  
}
@include mobile {
  .modal-content {
    max-height: 50%;    
    .prev-button, .next-button {
      width: 0.8rem;
      height: 0.8rem;
    } 
    p {
      font-size: 0.8rem;
    }
    img {
      height: 50%;
      object-position: top left;
    }
  }  
}