// animation slider vertical
@keyframes slideImage {
    0% {
        transform: translateX(0);    }
    100% {
        transform: translateX(-550%);
    }
}
// animation défilement horizontal
@keyframes scrollLeft {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%);
  }
}
// animation section career
@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// animation heart
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  60%,
  70% {
    transform: scale(1);
  }
  80%,
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


// @keyframes appearLeft {
//   0% {
//     opacity: 0;
//     transform: translateX(-100px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
// @keyframes appearRight {
//   0% {
//     opacity: 0;
//     transform: translateX(100px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }