$dark-blue-color: #0077A2;
$light-blue-color:#4cb0a9fe;
$sand-color:#E1CBA8;
$text-color:#F4F4F4;
$yellow-color:#ffae00fe;

// variables Javascript
:root {
    --yellow-color:#ffae00fe;
}

$title-font-family: "Post No Bills Jaffna Bold";
$subtitle-font-family: "Overpass Regular";
$text-font-family: "Overpass Bold";

// Responsive
$mobil-max: 819px;
$tablet-min: 820px;
$tablet-max: 1023px;