header {
    height: 100px;
    padding: 1.56rem 8.625rem;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            margin: 0;
        }
        a:hover {
            transform: scale(1.02);
        }
        .header-link {
            display: flex;
            justify-content: flex-end;
            margin: 0;
        }
    }
    @include mobile-and-tablet {
        padding: 1.56rem 1.875rem;
    }
}
.header.landing {
    background-color: $light-blue-color;
}
.header.about {
    width: 100%;
    background-color: $dark-blue-color;
    position: fixed;
    z-index: 10;
    .header-link {
        background-color: $yellow-color;
        border-radius: 25px;
        padding: 5px 10px;
    }
}

.interchange-letters {
    display: flex;
  }
  
  .letter {
    display: inline-block;
    font-size: 24px;
    margin: 0 4px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    @include tablet {
        font-size: 1rem;
    }
    @include mobile {
        font-size: 1rem;
        margin: 0;
    }
  }
  
  .letter:hover {
    transform: rotate(180deg);
  }
  