// Landing Page

.section-left {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 20px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 30px;
}
.section-text {
    width: 500px;
    padding-top: 180px;
}
.section-text-link {
    width: 500px;
    display: flex;
}
.section-skills {
    width: 253px;
    height: 159px;
    background-color: $dark-blue-color;
    border-radius: 15px;
    border: 20px solid white;
    display: flex;
    align-items: center;
    overflow: hidden;
    &__logos {
        width: 250px;
        height: 100px; 
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 60px; 
        margin-inline-start: 200px;
        animation: slideImage 7s linear infinite;
    }
    img {
        width: 100px;
        height: 100px;        
    }
}
.section-slider {
    width: 50%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.slider-list { 
    height: 85vh;
    display: flex;
    flex-direction: column;    
    overflow: scroll;
    transform: rotate3d(2, -2, 0.4, 34deg);
    // perspective: 200px;
    // transform: rotateX(22deg) rotateZ(9deg); 
    // box-shadow: 20px 0px 10px 0px rgba(0, 0, 0, 0.25);   
   &__image {
        width: 400px;
        margin: 0;
        padding-top: 75px;
        // transform: rotateY(349deg) ; 
        // box-shadow: 20px 10px 20px 0px rgba(0, 0, 0, 0.25);  
        img { 
            width: 90%;
            height: 400px;
            box-shadow: 20px 10px 20px 0px rgba(0, 0, 0, 0.25);     
        }
    } 
}
.slider-list::-webkit-scrollbar {
    width: 1px;
    display: none;    
}
.slider-list::-webkit-scrollbar-track {
    background: $light-blue-color;
}
.slider-list::-webkit-scrollbar-thumb {
    background: $light-blue-color;
}

// About Page
.section-hero {
    display: grid;
    padding: 80px 0;
    grid-template-columns: 1fr 1fr;
    &__picture {
        width: 600px;
        height: 600px;
        background-color: $yellow-color;
        border-radius: 50%;
        position: relative;
        left: -230px;
        box-shadow: 20px -11px 20px 3px rgba(0, 0, 0, 0.25);
        img {
            width: 80%;
            border-radius: 50%;
            box-shadow: 20px -11px 20px 3px rgba(0, 0, 0, 0.25);
            filter: sepia(0.1) opacity(0.8);
            position: relative;
            left: 55px;
            top: 50px;
        }
    }
    &__text {
        width: 516px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        
    }
    &__social-icons {
        display: flex;
        gap: 20px;
    }
}

.section-presentation {
    display: flex;
    flex-direction: column;
    gap: 100px;
    // box-shadow: 20px -11px 20px 3px rgba(0, 0, 0, 0.25);
    padding: 60px 128px;
    &__article {
       font-size: 20px; 
       display: flex;
       justify-content: space-between;
       p {
        width: 60%;
       }
    }
}

.section-like {
    display: flex;
    flex-direction: column;
    position: relative;
    &__heart {
        width: 70px;
        animation: heartbeat 1s infinite;
    }
}
.section-like__image-container::before,
.section-like__image-container::after  {
    content: "";
    display: block;
    position: absolute;
    width: 600px;
    height: 2px;
    background-color: $sand-color;
}
.section-like__image-container::before {
    left: 0;
    transform: translateY(35px);
  } 
.section-like__image-container::after {
    right: 0;
    transform: translateY(-35px);
}

.section-like__text-container {
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid $sand-color;
    padding:  40px 0;
    margin-bottom: 100px;
}
.section-like__headband {
    word-spacing: 7rem;
    animation: scrollLeft 10s linear infinite;    
}

// Section career

.section-career {
    display: flex;
    flex-direction: column;
    gap: 100px;
    overflow: hidden;
    margin-bottom: 100px;
    padding: 60px 128px;
    &__experience {
        width: 100%;
        height: 500px;
        display: flex;
    }
}

// Section Education

// .section-education {
//     display: flex;
//     &__article-img {
//         img {
//             width: 100px;
//             height: 100px;
//             object-fit: contain;
//         }
//     }
// }