// Landing Page
.section-left {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 20px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 1.875rem;
}
.section-text {
    width: 31.25rem; 
    padding-top: 8rem;
    .text-item {
        p {
            font-size: 1.25rem;
            padding-right: 15px;
        }
    }
}
.section-text .hidden {
    display: none;
}
.section-text-link {
    width: 31.25rem;
    display: flex;
    &__arrows {
        position: relative;
        display: inline-block;
        .arrow-yellow {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__arrows:hover .arrow-yellow {
        display: block;
    }
}
.section-skills {
    width: 15.8125rem;
    height: 9.9375rem;
    background-color: $dark-blue-color;
    border-radius: 15px;
    border: 20px solid white;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &__logos {
        width: 100%;
        display: inline-flex;
        position: relative;
        left: 145px;
        animation: slideImage 7s linear infinite;
    }
    img {
        width: 6.25rem;
        height: 6.25rem; 
        margin: 0 3rem;      
    }
}
.section-skills.loading {
    .section-skills__logos {
        animation: none;
    }
}

@include mobile-and-tablet {
    .section-left {
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        box-shadow: none;
        gap: 25px
        ;
    }
    .section-skills {
        width: 60%;
        height: 6.25rem;
        background-color: $light-blue-color;
        border: none;
        overflow: hidden;
        &__logos {
            gap: 1.75rem;; 
            margin-inline-start: 0;
        }
        img {
            width: 2.25rem;
            height: 2.25rem;        
        }
    }
    .section-text {
        padding-top: 0;  
    }
}
@include  mobile {
    .section-skills {
        width: 100%;
        margin: 0;
        overflow: hidden;
        &__logos {
            width: 35%;
            gap: 3.5rem;
            margin: 0 auto;
            animation: slideImage 5s linear infinite;
        }
    }  
}

.section-slider {
    width: 50%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 500;
}
.slider-list { 
    height: 80vh;
    display: flex;
    flex-direction: column;    
    overflow: scroll;
    transform: rotate3d(2, -2, 0.4, 34deg);   
    padding-top: 2.5rem; 
    padding-bottom: 2.5rem;
    &::-webkit-scrollbar {
        width: 0;
      }
   &__image {
        width: 31.25rem;
        margin: 0;
        padding-top: 3.75rem; 
        padding-bottom: 3.75rem; 
        img { 
            width: 90%;
            box-shadow: 20px 10px 20px 0px rgba(0, 0, 0, 0.25);     
        }
    } 
}

@include mobile-and-tablet {
    .section-slider{
        width: 100%; 
        height: auto;
        .slider-list {
            height: 25rem;
            flex-direction: row;
            flex-wrap: nowrap;
            transform: none;             
            gap: 50px; 
            padding: 0;
            &__image {
                flex: 0 0 auto;
                padding: 0;
                img {
                    width: 25rem;  
                    height: 100%;                  
                }
            }
        }     
    }
}
@include tablet {
    .slider-list__image {
        margin-left: 150px;
    }
}
@include mobile {
    .section-slider .slider-list {
        height: 15rem;
        &__image {
            width: 15rem;
        }
    }
}

// About Page
.section-hero {
    width: 100%;
    display: grid;
    padding: 80px 0;
    grid-template-columns: 45% 55%;
    position: relative;
    top: 100px;
    &__picture {
        width: 320px;
        height: 320px;
        background-color: $yellow-color;
        border-radius: 50%;
        position: relative;
        left: -8.5rem;
        box-shadow: 20px -11px 20px 3px rgba(0, 0, 0, 0.25);
        img {
            width: 80%;
            border-radius: 50%;
            box-shadow: 20px -11px 20px 3px rgba(0, 0, 0, 0.25);
            filter: sepia(0.1) opacity(0.8);
            position: relative;
            left: 10%;
            top: 10%;
        }
    }
    &__text {
        width: 32.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3.125rem;
        
    }
    &__social-icons {
        display: flex;
        gap: 1.25rem;
        img {
            width: 4rem;
            height: 4rem;
        }
    }
}
@include mobile-and-tablet {
    .section-hero {
        width: 100%;
        display: flex;
        padding-top: 50px;
        &__picture {
            position: unset;
            width: 12.5rem;
            height: 12.5rem;
        }
        &__text {
            width: 29rem;
        }
        &__social-icons {
            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}
@include mobile {
    .section-hero {
        padding: 10px;
        &__picture {
            width: 2.5rem;
            height: 2.5rem;
            margin-inline-start: 0;
            box-shadow: unset;
            img {
                box-shadow: unset;
            }
        }
        &__text {
            width: 90%;
            align-items: flex-end;
            padding: 15px;
        }
    }
}

.section-presentation {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    padding: 3.75rem 8rem;
    position: relative;
    top: 100px;
    &__article {
       font-size: 20px; 
       max-width: 80%;
       display: flex;
       justify-content: space-between;
       p {
        width: 60%;
       }
    }
}
@include mobile-and-tablet {
    .section-presentation {
        padding: 1.56rem 1.875rem;
    }
}
@include mobile {
    .section-presentation {
        padding: 10px;
        gap: 3rem;
        &__article {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            h2 {
                font-size: 1rem;
            }
            p {
                width: 100%;
            }
        }
    }
}

.section-like {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    &__heart {
        width: 4.375rem;
        animation: heartbeat 1s infinite;
    }
}
.section-like__image-container::before,
.section-like__image-container::after  {
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: $sand-color;
}
.section-like__image-container::before {
    left: 0;
    transform: translateY(2.1rem);
  } 
.section-like__image-container::after {
    right: 0;
    transform: translateY(-2.1rem);
}

.section-like__text-container {
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid $sand-color;
    padding:  2.5rem 0;
    margin-bottom: 6.25rem;
}
.section-like__headband {
    width: 200%;
    height: 50px;
    word-spacing: 50px;
    animation: scrollLeft 10s linear infinite;    
}
@include mobile {
    .section-like {
        &__heart {
            width: 2rem;
        }
        &__image-container::before {
            transform: translateY(1rem);   
        }
        &__image-container::after {
            transform: translateY(-1.25rem);   
        }
        &__text-container {
            padding: 0.25rem 0;
            margin-bottom: 0;
        }
        &__headband {
            white-space: nowrap;
        }
    }
}

// Section career
.section-career {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    overflow: hidden;
    margin-bottom: 100px;
    padding: 3.75rem 8rem;
    position: relative;
    top: 100px;
    &__experience {
        width: 100%;
        height: 31.25rem;
        display: flex;
    }
}

@include mobile-and-tablet { 
    .section-career {
        padding: 1.56rem 1.875rem;
        margin: 0 2.5rem;
    }      
}
@include mobile {
    .section-career {
        padding: 0 30px;
        gap: 3rem;
        margin: 0;
    }
    
}

// Section contact
.section-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
    position: relative;
    top: 40px;
    .contact-button {
        font-family: $title-font-family;
        font-size: 2.25rem;
        background-color: $yellow-color;
        border: none;
        border-radius: 15px;
        padding: 1.25rem;
        @include mobile-and-tablet {
            font-size: 1.5rem;
            padding: 0.8rem;
        }
    }
}