*, body {
  max-width: 100%;
  color: white;
  box-sizing: border-box;
  margin: 0 auto;
}
h1, h2, p, span, .name, .section-text, .section-text-link {
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-blue-color;
  font-family: $text-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, a, .name {
  font-family: $title-font-family;
}
h2, blockquote {
  font-family: $subtitle-font-family;
}
.name {
  font-size: 2.25rem;
}
h1 {
  font-size: 4rem;
}
blockquote {
  font-size: 2rem;  
  text-align: center;
  quotes: "“" "”" "‘" "’";
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}
h2, p, span, a {
  font-size: 1.5rem;
  font-weight: 100;
}
a {
  text-decoration: none;
}
ol {
  list-style-type: none;
}

@include tablet {
  .name {
    font-size: 1.75rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2, p, span {
    font-size: 1.25rem;
  }
  blockquote {
    font-size: 1.5rem;  
  }
}
@include mobile {
  .name {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  p, span, a {
    font-size: 0.8rem;
  }
  blockquote {
    font-size: 1rem;  
  }
}