body {
  margin: 0;
  font-family: $text-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: $light-blue-color;
}

a {
  text-decoration: none;
}