* {
  // max-width: 1440px;
  box-sizing: border-box;
  margin: auto;
}
body, h1, h2, h3, p {
  margin: 0;
}

body {
  font-family: $text-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, a {
  font-family: $title-font-family;
}
h3, blockquote {
  font-family: $subtitle-font-family;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 96px;
}
blockquote {
  font-size: 48px;  
}
h3, p {
  font-size: 24px;
}
a {
  font-size: 24px;
  text-decoration: none;
}
